/* style.css */

html {
    /* No need to use JS for scrolling   */
    scroll-behavior: smooth;
}

body{
    background-color: #ffd900;
    /* background-color: rgba(255, 200, 0, 1); */
    font-family: Arial;
    font-size: 12px;
    /*We clear margin to be able to expand background color to all page width*/
    margin: 0;

}

header{
    padding: 0;
    margin-bottom: 20px;
}

h1{
    color: black;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 18px;
    margin-bottom: 18px;
}

h2{
    color: black;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
}

h2.form{
    margin-top: 20px;
}

h3{
    color: black;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 20px;
}
h4{
    color: black;
    align-self: center;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;

    /*    width: 250px;*/
}
h5{
    color: black;
    align-self: center;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

    /*    width: 250px;*/
}

p{
    margin: 0px;
    align-self: center;
}

p.justified{
    margin: 0px 20px;
    text-align: justify;
}
p.bio{
    text-align: justify;
}

div.white_block_centered{
    display: flex;
    /*    flex-direction: row;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 28px 20px 28px;
    margin: 20px 252px 30px 252px;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

section.white_page{
    margin: 30px 0px;
    padding: 10px 60px 30px 60px;
    background-color: rgba(250, 250, 250, 1);
}
section.white_page h4{
    margin-bottom: 5px;
    margin-top: 20px;
}

section.white_page h2{
/*    margin-bottom: 5px;*/
    margin-top: 5px;
}

section.white_page_contact{
    margin: 20px 0px 30px 0;
    padding: 10px 30px 10px 30px;
    background-color: rgba(250, 250, 250, 1);
}

div.horizontal_flex_contact{
    align-self: center;
    align: justify;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-content: space-around;
}

div.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*    align-self: center;*/
/*    justify-content: space-between;*/
    padding: 30px 30px 30px 30px;
    margin: 0px 30px 30px 30px;
    background-color: rgba(5, 5, 5, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /*    width: 100%;*/
}

div.contacts p{
    color: rgba(250, 250, 250, 1);
    text-align: center;
    /*    padding: 0 20px 20px 20px;*/
    margin: 5px 5px 10px 5px;
    /*    width: 300px;*/
}


p.intro{
/*    margin: 0px 40px 0 0;*/
/*    margin: 10px 40px 0 10px;*/
    margin-left: 10px;
    margin-right: 40px;
    align-self: center;
    font-size: 16px;
    font-weight: 500;
}

p.greeting{
    font-size: 19px;
    text-align: justify;
/*    margin: 60px 0 0 0;*/
}

a.white_link{
    color: white;
}

nav ul {
  background-color: #ffd900;
    /* background-color: rgba(255, 200, 0, 1); */
    list-style: none;
    margin: 0;
    padding: 10px;
    /* margin: 0px 20px 20px 20px; */
    display: flex;
    justify-content: center;
}

nav li {
  background-color: #ffd900;
    /* background-color: rgba(255, 200, 0, 1); */
    margin: 0px;
    padding: 10px;
    width: 17%; /* CALCULATED MANUALLY */
}

nav p{
    background-color: rgba(250, 250, 250, 1);
    text-align: center;
    color: black;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav p:hover {  /* pseudo-class applied when the mouse cursor is over element. */
  color: #ffd900;
    /* color: rgba(255, 200, 0, 1); */
    background-color: rgba(5, 5, 5, 1);
}

nav li.active p {
  background-color: #ffd900;
    /* background-color: rgba(255, 200, 0, 1); */
    box-shadow: 1px -1px 0px 0px rgb(0 0 0 / 50%);
}

nav li.active p:hover {
    color: black;
}




ul.favs{
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

ul.dark{
    text-align: center;
    align-self: center;
    align-items: center;
    list-style-type: none;
    padding-inline-start: 0px;
    border: 0;
    border-radius: 5px;

}


ul.dark li{
    align-items: center;
    display: flex;
    text-align: center;
    width: 160px;
    flex-direction: column;
    justify-content: space-between;
    color: rgba(29, 29, 29, 1);
    background: rgba(250, 250, 250, 1);
    border: 5px solid rgba(5, 5, 5, 1);
    padding: 10px 20px;

}

ul.dark li:nth-child(2n) {
    background: rgba(5, 5, 5, 1);
    color: rgba(250, 250, 250, 1);
    border: 0;
}

ul.grey_list_headers{
    text-align: center;
    align-self: center;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 10px;
}

ul.grey_list_headers li.grey_list_headers:nth-child(2n){
    margin-bottom: 0px;
    margin-top: 30px;
}

ul.grey_list_headers h3{
    margin-top: 0px;
}

ul.grey_list{
    text-align: justify;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 20px;
    list-style-type: none;
    padding-inline-start: 0px;
    border: 5px solid rgba(229, 229, 229, 1);
    border-radius: 5px;

}


ul.grey_list li{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 10px solid rgba(229, 229, 229, 1);

    padding: 10px 30px;

}

ul.grey_list li:nth-child(2n) {
    background: rgba(229, 229, 229, 1);
    border: 0;
    padding: 5px 40px;
}

div.white_block_centered a{
    color: black;
}

div.black_block_centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(250, 250, 250, 1);
    padding: 10px 20px;

    background-color: rgba(5, 5, 5, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

div.black_block_spaced{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: rgba(250, 250, 250, 1);
    margin: 120px;
    background-color: rgba(5, 5, 5, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

div.horizontal_flex{
    align-self: center;
    align: justify;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-content: space-around;
}

section.white_page_centered{
    background-color: rgba(250, 250, 250, 1);
}


div.date_place{
    margin-bottom: 10px;
}

span{
    width: 300px;
}

a.button{
    text-decoration: none;
}

/*TABLE WITH SOCIAL LINKS*/
table.social{
    margin: 0px 5px 5px 5px;
}
table.social tr{
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 10px solid rgba(229, 229, 229, 1);
    padding: 10px 0;

}
table.social td{
    margin: 0 20px;
    text-align: center;
}
table.social img{
    height: 30px;
    display: block;
    border: 1px solid rgba(12, 12, 12, 1);
    margin: 0;
}
table.social img:hover{
    border-radius: 20px;
}
table tr:first-child {
    border-radius: 5px 5px 0 0;

}
table tr:last-child {
    border-radius: 0 0 5px 5px;
}
table.social tr:nth-child(2n) {
    background: rgba(229, 229, 229, 1);
    border: 0;
    padding: 10px;
}

div.black_block {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 5px 5px;
    margin: 20px 50px 20px 50px;
    background-color: rgba(5, 5, 5, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /*    width: 100%;*/
}

div.black_block p{
    color: rgba(250, 250, 250, 1);
    margin: 10px 5px;
    width: 300px;
}

div.black_block li{
    color: rgba(250, 250, 250, 1);
    margin: 10px 5px;
    width: 300px;
}


/*div.white_block_centered img, p{*/
/*    margin-top: 20px;*/
/*}*/
div.white_block_centered .intro{
    margin-top: 20px;
}


img {
    border-radius: 5px;
}

img.link{
    /*    width: 135px;*/
    height: 30px;

}

img.link:hover{
    border-radius: 20px;
    border: 1px solid rgba(199, 9, 9, 1);
}

img.table_link{
    /*    width: 135px;*/
    height: 30px;

}

img.table:hover{
    border-radius: 20px;
    border: 1px solid rgba(199, 9, 9, 1);
}

img.button{
    height: 32px;
}

img.button:hover{
    border-radius: 20px;
}


form button{
    padding: 7px 30px;
    margin: 10px;
    background: rgba(240, 240, 240, 1);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;

}

form button:hover {  /* pseudo-class applied when the mouse cursor is over element. */
    background: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

input{
    margin: 5px 0;
    border: none;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 3px;
    width: 100%;
    height: 30px;

}
textarea {
    border: none;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 3px;
    width: 100%;
}








footer{
    align-text: center;
    align: center;
    display: flex;
    justify-content: space-around;
    box-shadow:
        inset rgba(0, 0, 0, 0.35) 0px -15px 15px -15px,
        inset rgba(0, 0, 0, 0.35) 0px 15px 15px -15px;
    padding: 30px 10px;
    margin: 0px 0 2px 0;
}


code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    font-size: large;
    padding: 0 3px;
    margin: 5px 0 25px 0;
/*    align-self: center;*/
}

footer a p{
/*    background-color: rgba(250, 250, 250, 1);*/
    text-align: center;
    color: black;
    padding: 10px;
    margin: 0;
    border: 0px;

/*    background-color: rgba(250, 250, 250, 1);*/
    /* background-color: rgba(255, 200, 0, 1); */
    background-color: #ffd900;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

footer a{
    text-decoration: none;
/*        color: rgba(0, 0, 0, 0.5);*/
    font-weight: bold;
}

footer a p:hover {  /* pseudo-class applied when the mouse cursor is over element. */
    /*    color: rgba(0, 100, 0, 1);*/
    color: #ffd900;
    /* color: rgba(255, 200, 0, 1); */
    background-color: rgba(5, 5, 5, 1);
    /*    background-color: rgba(100, 0, 0, 0.5)*/
}
