/* style.css */
body{
    background-color: rgba(10, 1, 100, 0.4);
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
}

nav li {
    margin: 0px;
    padding: 2px;
    width: 25%; /* MANUALLY */
}

nav p{
    background-color: rgba(200, 0, 0, 1);
    text-align: center;
    color: grey;
    padding: 10px;
    border: 1px outset grey;
    box-shadow:
        inset rgba(0, 0, 0, 0.35) 0px 1px 1px 1px,
        inset rgba(0, 0, 0, 0.35) 0px 1px 1px -1px;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {  /* pseudo-class applied when the mouse cursor is over element. */
    color: #000;
}

nav li.active p {
    background-color: rgba(200, 0, 0, 0.5);
}

iframe{
    float: right;
    opacity: 0.85;
/*    overflow: "scroll";*/
    width: 540px;
    height: 360px;
/*    width: 60%;*/
    frameborder: "1";
    padding: 10px;
    margin: 20px 20px  20px 20px;
    border: 1 inset grey;
    border-radius: 4px;

}


h1 {
    color: navy;
    margin-left: 20px;
}

section.simple{
    padding: 10px 10px;
}

section{
    text-align: left;
/*    display: flex;*/
    /*    background-color: green;*/
    justify-content: space-between;

    /*    border: thin outset gray;*/
    margin: 20px 20px;
    /*    box-shadow: 1px 10px 10px 1px rgba(100, 100, 1, 0.5);*/
}


p{
    text-align: right;
    color: red;

}



div.flex{
    align: left;
    display: flex;
    background-color: green;
    justify-content: space-between;
    padding: 10px;
    border: thin outset gray;
    margin: 0px 20px;
    box-shadow: 1px 10px 10px 1px ;
}

div.horizontal_flex{
    align: justify;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px 20px 0px 0px;
    box-shadow: 1px 10px 10px 1px ;
}

div.bio{
    align: justify;
/*    display: flex;*/
    background-color: rgba(1, 100, 1, 0.5);
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

hr.footer{
    border-top: 1px solid grey;
}

footer{
    align-text: center;
    align: center;
    display: flex;
    justify-content: space-between;
    box-shadow:
        inset rgba(0, 0, 0, 0.35) 0px -20px 20px -20px,
        inset rgba(0, 0, 0, 0.35) 0px 20px 20px -20px;
    padding: 10px;
    border: 0 inset grey;
    border-radius: 0 0 10px 10px;

    margin: 0px;
}

p.footer{
    text-align: center;
    color: grey;
    padding: 10px;
}

p.button{
/*    background-color: rgba(200, 0, 0, 1);*/
    text-align: center;
    color: grey;
    padding: 10px;
    border: 1px outset grey;
    box-shadow:
        inset rgba(0, 0, 0, 0.35) 0px 1px 1px 1px,
        inset rgba(0, 0, 0, 0.35) 0px 1px 1px -1px;
    margin: 0 0 0 0;
}

p.bio{
    text-align: justify;
    color: black;
/*    margin: 20px;*/
/*    float: left;*/
/*    width: 40%;*/
}

a.button{
    text-decoration: none;
}