/* style.css */
/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

body{
    background-color: rgba(255, 200, 0, 1);
    font-family: Arial;
/*    padding: 0;*/
/*We clear margin to be able to expand background color to all page width*/
    margin: 0;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
}

nav li {
    margin: 0px;
    padding: 2px;
    width: 25%; /* CALCULATED MANUALLY */
}

nav p{
    background-color: rgba(200, 0, 0, 1);
    text-align: center;
    color: grey;
    padding: 10px;
    border: 1px outset grey;
    box-shadow:
        inset rgba(0, 0, 0, 0.35) 0px 1px 1px 1px,
        inset rgba(0, 0, 0, 0.35) 0px 1px 1px -1px;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

nav p:hover {  /* pseudo-class applied when the mouse cursor is over element. */
    color: rgba(0, 100, 0, 1);
    background-color: rgba(100, 0, 0, 0.5)
}

nav li.active p {
    background-color: rgba(200, 0, 0, 0.2);
}


section.white_page{
    margin: 100px 0;
    padding: 20px;
    background-color: rgba(245, 245, 245, 1);
}




iframe{
    float: right;
    opacity: 0.85;
/*    overflow: "scroll";*/
    width: 540px;
    height: 360px;
/*    width: 60%;*/
    frameborder: "1";
    padding: 10px;
    margin: 20px 20px  20px 20px;
    border: 1 inset grey;
    border-radius: 4px;

}

h1{
    color: navy;
    margin: 20px;
}
h2{
    color: navy;
    margin: 20px;
}


/*div.flex{*/
/*    align: left;*/
/*    display: flex;*/
/*    background-color: green;*/
/*    justify-content: space-between;*/
/*    padding: 10px;*/
/*    border: thin outset gray;*/
/*    margin: 0px 20px;*/
/*    box-shadow: 1px 10px 10px 1px ;*/
/*}*/



div.bio{
    align: justify;
/*    display: flex;*/
    background-color: rgba(1, 100, 1, 0.5);
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}



p.bio{
    text-align: justify;
    color: black;
/*    margin: 20px;*/
/*    float: left;*/
/*    width: 40%;*/
}

a.button{
    text-decoration: none;
}

table.social{
    margin: 20px;
/*    border: 10px solid rgba(229, 229, 229, 1);*/
/*    border-radius: 5px;*/
/*    border: 0;*/
/*    padding: 0;*/
}
table.social tr{
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 10px solid rgba(229, 229, 229, 1);
    padding: 10px 0;

}
table.social td{
    margin: 0 20px;
    text-align: center;
}

table.social img{
    display: block;
    border: 1px solid rgba(12, 12, 12, 1);
    margin: 0;
}

table tr:first-child {
    border-radius: 5px 5px 0 0;

}
table tr:last-child {
    border-radius: 0 0 5px 5px;
}
table.social tr:nth-child(2n) {
    background: rgba(229, 229, 229, 1);
/*    margin: 0;*/
    border: 0;
    padding: 10px;
}
/*table.social tr:nth-child(1n) {*/
/*    background: rgba(229, 229, 229, 1);*/
    /*    margin: 0;*/
/*    border: 0;*/
/*    padding: 10px 0;*/
/*    border: 10px 0;*/
/*    padding: 20px 0;*/
/*}*/


section.feedback{

}



div.white_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
    margin: 10px 100px;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /*    width: 100%;*/
}

div.black_block {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 5px 5px;
    margin: 20px 50px 20px 50px;
    background-color: rgba(5, 5, 5, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /*    width: 100%;*/
}
div.black_block p{
    color: white;
/*    margin: 10px 5px;*/
    width: 300px;
}
div.black_block h2 {
    color: white;
/*    flex-direction: column;*/
    margin: 10px 0px 30px 0px;
}

img {
    border-radius: 5px;
}

form {
/*    font-family: 'Arial';*/
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 60px;
    margin: 10px 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
/*    width: 100%;*/
}

div.horizontal_flex{
    align: justify;
    display: flex;
/*    align-items: center;*/
    justify-content: center;
/*    justify-content: space-between;*/
/*    width: 100%;*/
    padding: 20px;
/*    margin: 20px 20px 200px 0;*/

}

button{
    padding: 7px 30px;
    margin: 10px;
    background: #f5f5f5;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}

form button:hover {  /* pseudo-class applied when the mouse cursor is over element. */
    background: rgba(0, 0, 0, 0.15);
}

input{
    margin: 5px 0;
    border: none;
    background-color: #f5f5f5;
    border-radius: 3px;
    width: 100%;
    height: 30px;

}
textarea {
    border: none;
    background-color: #f5f5f5;
    border-radius: 3px;
    width: 100%;
}








footer{
    align-text: center;
    align: center;
    display: flex;
    justify-content: space-around;
    box-shadow:
        inset rgba(0, 0, 0, 0.35) 0px -20px 20px -20px,
        inset rgba(0, 0, 0, 0.35) 0px 20px 20px -20px;
    padding: 10px;
    border: 0 inset grey;
    border-radius: 0 0 10px 10px;

    margin: 0px;
}


p.footer{
    text-align: center;
    color: grey;
    padding: 10px;
}


p.button{
    background-color: rgba(80, 0, 80, 0.1);
    text-align: center;
    color: grey;
    padding: 10px;
    border: 1px outset grey;
    /*    box-shadow:*/
/*        inset rgba(0, 0, 0, 0.35) 0px 1px 1px 1px,*/
/*        inset rgba(0, 0, 0, 0.35) 0px 1px 1px -1px;*/
}

p.button:hover {
    background: rgba(80, 0, 80, 0.05);
}